.tool_home_header {
  margin-bottom: 2em;
}

.tool_home_header h1 {
  margin-bottom: .3em;
}

.tool_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tool_card {
  width: 22%;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tool_card_image {
  background-size: cover;
  background-position: center;
  height: 225px;
  width: 100%;
  margin-bottom: 1.2em;
}

.tool_card_info {
  font-size: .8em;
  margin-bottom: 1.2em;
}

.tool_card h3 {
  color: #16479d;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  padding: 8px;
}

.tool_card a {
  margin-top: 1em;
  text-decoration: none;
  background-color: #417de5;
  color: #16479d;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.1em;
}

.tool_card a:hover {
  background-color: #16479d;
  color: #fff;
}

.claimed_text {
  color: #25b456;
  font-weight: bold;
  padding: 15px;
}